.showWaiting{
    display: none;
    width:100%;
    height:100%;
    background-color: rgba(204,204,204,.5);
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
}
.showWaiting span{
    display: block;
    width:364px;
    height:200px;
    font-size: 30px;
    background-color: #ffffff;
    color: #000;
    margin: 100px auto;
    text-align: center;
    line-height: 200px;
}
/*鎼滅储妗�*/
.search{
    padding-top: 10px;
    width:98%;
    height:64px;
    margin-top: 5px;
    padding-left: 22px;
    font-size: 20px;
    background-color: #ffffff;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 4px solid #77d5f7;
}
.search input{
    width : 90px;
    margin:4px 13px 5px -6px;
    padding-left: 5px;
    font-size: 18px;
    border: 1px solid black;
}
.autoFinish{
    float: left;
    width:384px;
    position: relative;
    z-index:900;
}
.autoFinish input{
    width:120px;
}
.autoFinish1{
    width:226px;
    position: relative;
    z-index: 900;
    float: left;
}
.autoFinish1 input{
    width:120px;
}
.search select{
    font-size: 18px;
    margin-top: -8px;
    margin-left: -6px;
}
.date{
    width:536px;
    float: left;
    margin-top: 2px;
}
.date input{
    font-size: 16px;
    width:188px;
}
.search em{
    display: inline-block;
    margin-left: -10px;
    margin-right: 6px;
}

.btnCommon{
    font-size: 22px;
    padding : 5px;
    position: absolute;
    top:30px;
}
.clientSearchBtn{
    left: 826px;
}
.downloadBtn{
    left:887px;
}

/*琛ㄦ牸鏄剧ず*/
.clientTable{
    color: #000;
    width:100%;
    background-color: #ffffff;
    position: relative;
}
.clientTable table{
    width:100%;
}
.clientTable td{
    padding:5px 8px;
    height:30px;
    border: 1px solid black;
    font-size: 20px;
    line-height: normal;
}
.clientTable thead td{
    font-size: 24px;
    font-weight: bold;
}
/*分页*/
#pagination{
	padding-top:10px;
	background:#fff;
}
#pagination ul{
	width:100%;
}
#pagination ul li{
	display:inline-block;
	font-size:18px;
}
#pagination ul li:not(:first-child){
	margin-left:20px;
}
#pagination ul li button{
	display:inline-block;
	padding:5px 8px;
	margin-right:5px;
	cursor:pointer;
}
#pagination ul li button:hover{
	background:#ccc;
}
#pagination ul li input{
	border:1px solid #ccc;
	text-align:center;
	font-size:16px;
	width:50px;
	padding:5px 0;
}

