.showWaiting{
    display: none;
    width:100%;
    height:100%;
    background-color: rgba(204,204,204,.5);
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
}
.showWaiting span{
    display: block;
    width:364px;
    height:200px;
    font-size: 30px;
    background-color: #ffffff;
    color: #000;
    margin: 100px auto;
    text-align: center;
    line-height: 200px;
}
.operation-search{
    width:1035px;
    background-color: #ffffff;
    font-size: 18px;
    padding:5px;
    line-height: 14px;
    position: relative;
}
.operation-search span{
    display: inline-block;
    height:37px;
    width:235px;
    position: absolute;
    top:11px;
    left:0;
}

.operation-search .youhua{
    width:243px;
    border: 1px solid #ffffff;
}
.operation-search input{
    border: 1px solid black;
    font-size: 16px;
    padding-left: 5px;
    margin-left: -8px;
    margin-right: 14px;
    margin-bottom: 5px;
}

.position-table .location{
    position: relative;
    margin-right: 22px;
}
.operation-search em{
    position: absolute;
    top:3px;
    left:509px;
}
.operation-search select{
    font-size: 18px;
}
.span select{
    font-size: 26px;
}
.commonBtn{
    font-size: 23px;
    padding:5px;
    position: absolute;
    top:25px;
}
.btnSearch{
    left:748px;
}
.btnLoad{
    left:820px;
}

.autoCom{
    width:265px ;
    position: relative;
    z-index: 900;
}
.autoInput{
    float: left;
}
.operationTable{
    color: #000;
    width:100%;
    background-color: #ffffff;
    position: relative;
}
.operationTable table{
    width:100%;
}
.operationTable td{
    padding:5px 8px;
    height:30px;
    border: 1px solid black;
    font-size: 20px;
    line-height: normal;
}
.operationTable thead td{
    font-size: 24px;
    font-weight: bold;
}