@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}
/*按钮部分*/
.ui-state-default{
    border: 1px solid #77d5f7;
    background: #0078ae url("../images/ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
}
/*鼠标放置时的样式*/
.ui-state-hover{
    border: 1px solid #448dae;
    background: #79c9ec url("../images/ui-bg_glass_75_79c9ec_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #026890;
}
/*圆角样式*/
.ui-corner-all,.ui-corner-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ui-corner-all{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*站位表*/
.position-table{
    width:99%;
    height:99%;
    background-color: #77d5f7;
}
.manage-staff{
    display: block;
    height:60px;
    width:300px;
    margin:0 auto;
    background-color: #6eac2c;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 20px;
}
/*提示语句*/
.position-table-warm{
    display: block;
    width:58%;
    background-color: #ffffff;
    height:47px;
    font-size: 18px;
    padding-left: 285px;
    padding-right: 161px;
    padding-top: 10px;
    color: #FF0000;
    font-weight: bold;
    line-height: 21px;
}

/*搜索框*/
.position-table-search{
    margin-top: 2px;
    width:64%;
    height:30px;
    background-color: #ffffff;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
    float: left;
}
.position-table-search input{
    border: 1px solid black;
    width:90px;
    height:25px;
    padding-left: 10px;
    font-size: 18px;
    margin-left: -6px;
    margin-right: 5px;
}
.position-table-search select{
    font-size: 18px;
    margin-left: -6px;
    margin-right: 5px;
    padding-left: 3px;
}
.ptsBtn{
    margin-top: -8px;
    font-size: 20px;
    padding:5px;
    margin-left: 8px;
}
/*文件上传部分*/
.upload{
    margin-top: 2px;
    width:30%;
    height:44px;
    background-color: #ffffff;
    float: right;
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
}
.fileUpload{
    width:160px;
}
.fileBtn{
    font-size: 18px;
    padding:5px;
    position: absolute;
    top:5px;
    right:20px;
}
.show-warm{
    display: none;
    height:20px;
    color:red;
    position: absolute;
    bottom:0;
    left:10px;
    letter-spacing: 3px;
}
.banmian{
    font-size: 16px;
}
/*显示表格*/
.mainTable{
    color: #000;
    width:100%;
    background-color: #ffffff;
    margin-top: 55px;
    position: relative;
}
.mainTable td{
    padding:12px 16px;
    height:30px;
    border: 1px solid black;
    font-size: 20px;
    line-height: normal;
}
.mainTable thead td{
    font-size: 24px;
    font-weight: bold;
}
.positionTable table{
    margin-left: 10px;
}
#positionTableTitle td{
    padding:10px 40px;
}
.stateModifyCommon{
    position: absolute;
    top:62px;
}
.stateModifyBtn{
    font-size: 18px;
    padding:5px;
    left:76%;
}
.stateModifySel{
    left:85%;
    font-size: 20px;
}
