@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img ,table,td,tr{
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    /*color: #C81623;*/
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*加载提示页面*/
.showWaiting{
    display: none;
    width:100%;
    height:100%;
    background-color: rgba(204,204,204,.5);
    position: fixed;
    bottom:0;
    left:0;
    z-index: 999;
}
.showWaiting span{
    display: block;
    width:364px;
    height:200px;
    font-size: 30px;
    background-color: #ffffff;
    color: #000;
    margin: 100px auto;
    text-align: center;
    line-height: 200px;
}


/*按钮部分*/
.ui-state-default{
    border: 1px solid #77d5f7;
    background: #0078ae url("../images/ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
}
/*鼠标放置时的样式*/
.ui-state-hover{
    border: 1px solid #448dae;
    background: #79c9ec url("../images/ui-bg_glass_75_79c9ec_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #026890;
}
/*圆角样式*/
.ui-corner-all,.ui-corner-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ui-corner-all{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*站位表*/
.position-table{
    width:99%;
    height:99%;
    background-color: #77d5f7;
}
.manage-staff{
    display: block;
    height:60px;
    width:400px;
    margin:0 auto;
    background-color: #6eac2c;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 20px;
}
/*提示语句*/
.position-table-warm{
    display: block;
    width:100%;
    background-color: #ffffff;
    height:47px;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
    color: #FF0000;
    font-weight: bold;
    line-height: normal;
    text-indent: 2em;
}

/*搜索框*/
.position-table-search{
    margin-top: 2px;
    width:100%;
    height:30px;
    background-color: #ffffff;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.completeAuto{
    float:left;
    width:183px;
    position: relative;
    z-index: 999;
}
.completeAuto input{
    border: 1px solid black;
    width:90px;
    height:25px;
    padding-left: 10px;
    font-size: 18px;
    margin-left: -6px;
    margin-right: 5px;
}
.position-table-search select{
    font-size: 18px;
    margin-left: -6px;
    margin-right: 5px;
    padding-left: 3px;
}
.ptsBtn{
    margin-top: -8px;
    font-size: 20px;
    padding:5px;
    margin-left: 8px;
}
/*文件上传部分*/
.upload{
    margin-top: 2px;
    width:100%;
    height:44px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
    line-height: 41px;
    border-bottom: 2px solid #77d5f7;
}
.fileUpload{
    width:160px;
}
.fileBtn{
    font-size: 18px;
    padding:5px;
    position: absolute;
    top:5px;
    left:26%;
}
.show-warm{
    display: none;
    height:20px;
    color:red;
    position: absolute;
    bottom:24px;
    left:360px;
    letter-spacing: 3px;
}
.banmian{
    font-size: 16px;
}
/*显示表格*/
.mainTable{
    color: #000;
    width:100%;
    background-color: #ffffff;
}
.positionTable table{
    width:100%;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    margin-left: 10px;
    mso-cellspacing: 0;
}
.mainTable td{
    width:auto;
    height:30px;
    padding-left:5px;
    border: 1px solid black;
    font-size: 20px;
    line-height: normal;
}
.mainTable thead td{
    font-size: 24px;
    font-weight: bold;
}
.commonDiv{
    width:258px;
}
.stateModifyCommon{
    float: left;
}
.stateModifyBtn{
    font-size: 18px;
    padding:5px;
    margin-right: 10px;
}
.stateModifySel{
    font-size: 20px;
    margin-right: 10px;
}


/*表格编辑*/
.edit-table {
    width: 900px;

}
.table-header {
    width: 100%;
    border: 1px solid #b1b1b1;
}
.table-header p{
    background: #73b9ff;
    display: block;
    float: left;
    border-right: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    width: 298px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
}
.smt-table table {
    width: 100%;
    border-collapse: collapse;
}

.smt-table table tr th {
    text-align: left;
    height: 50px;
    font-weight: bold;
    background: #e2ffcc;
    border: 1px solid #b1b1b1;
    padding: 0 5px;
}
.smt-table tr:nth-child(even) {
    background-color: #e8e8e8;
}
.smt-table tr:hover {
    background-color: #dcdcdc;
}
.smt-table table tr td {
    border: 1px solid #c0c0c0;
    padding: 0 5px;
}

.smt-table table tr td input {
    width: 100%;
    line-height: 20px;
    font-weight: bold;
    margin: 5px 0px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;

}

.smt-table table tr td a {
    text-decoration: none;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}
.smt-back a ,.save-btn a{
    margin: 5px 0;
    display: block;
    background: url("../images/ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x;
    background-size: cover;
    width: 100%;
    height: 40px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
}
.smt-back span{
    font-size: 32px;
    line-height: 42px;
    display: block;
    text-align: center;
}
.save-btn a{
    position: relative;
    margin: 5px auto;
}

/*操作栏图标*/
.icon-add {
    display: inline-block;
    background: url("../images/add.png") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-cancel {
    display: inline-block;
    background: url("../images/cancel.png") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-confirm {
    display: inline-block;
    background: url("../images/confirm.png") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-del {
    display: inline-block;
    background: url("../images/delete.png") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-edit {
    display: inline-block;
    background: url("../images/edit.png") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

