<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimi.smt.eps_appclient"
    android:versionCode="8"
    android:versionName="eps_client_v1.8">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />-->

    <application
        android:name=".GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/eps_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 主activity -->
        <activity
            android:name=".EPS_MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activity.EnterActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.WareHouseActivity" />
        <activity android:name=".Activity.FactoryLineActivity" />
        <activity android:name=".Activity.QCActivity" />

        <service
            android:name=".Func.UpdateAppService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>