<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimi.smt.eps.display.mapper.ProgramItemVisitMapper">
  <resultMap id="BaseResultMap" type="com.jimi.smt.eps.display.entity.ProgramItemVisit">
    <id column="lineseat" jdbcType="VARCHAR" property="lineseat" />
    <id column="material_no" jdbcType="VARCHAR" property="materialNo" />
    <id column="program_id" jdbcType="VARCHAR" property="programId" />
    <result column="scan_lineseat" jdbcType="VARCHAR" property="scanLineseat" />
    <result column="scan_material_no" jdbcType="VARCHAR" property="scanMaterialNo" />
    <result column="last_operation_type" jdbcType="INTEGER" property="lastOperationType" />
    <result column="store_issue_result" jdbcType="INTEGER" property="storeIssueResult" />
    <result column="store_issue_time" jdbcType="TIMESTAMP" property="storeIssueTime" />
    <result column="feed_result" jdbcType="INTEGER" property="feedResult" />
    <result column="feed_time" jdbcType="TIMESTAMP" property="feedTime" />
    <result column="change_result" jdbcType="INTEGER" property="changeResult" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="check_result" jdbcType="INTEGER" property="checkResult" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="check_all_result" jdbcType="INTEGER" property="checkAllResult" />
    <result column="check_all_time" jdbcType="TIMESTAMP" property="checkAllTime" />
    <result column="first_check_all_result" jdbcType="INTEGER" property="firstCheckAllResult" />
    <result column="first_check_all_time" jdbcType="TIMESTAMP" property="firstCheckAllTime" />
    <result column="last_operation_time" jdbcType="TIMESTAMP" property="lastOperationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lineseat, material_no, program_id, scan_lineseat, scan_material_no, last_operation_type, 
    store_issue_result, store_issue_time, feed_result, feed_time, change_result, change_time, 
    check_result, check_time, check_all_result, check_all_time, first_check_all_result, 
    first_check_all_time, last_operation_time
  </sql>
  <select id="selectByExample" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from program_item_visit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisitKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from program_item_visit
    where lineseat = #{lineseat,jdbcType=VARCHAR}
      and material_no = #{materialNo,jdbcType=VARCHAR}
      and program_id = #{programId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisitKey">
    delete from program_item_visit
    where lineseat = #{lineseat,jdbcType=VARCHAR}
      and material_no = #{materialNo,jdbcType=VARCHAR}
      and program_id = #{programId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisitExample">
    delete from program_item_visit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisit">
    insert into program_item_visit (lineseat, material_no, program_id, 
      scan_lineseat, scan_material_no, last_operation_type, 
      store_issue_result, store_issue_time, feed_result, 
      feed_time, change_result, change_time, 
      check_result, check_time, check_all_result, 
      check_all_time, first_check_all_result, first_check_all_time, 
      last_operation_time)
    values (#{lineseat,jdbcType=VARCHAR}, #{materialNo,jdbcType=VARCHAR}, #{programId,jdbcType=VARCHAR}, 
      #{scanLineseat,jdbcType=VARCHAR}, #{scanMaterialNo,jdbcType=VARCHAR}, #{lastOperationType,jdbcType=INTEGER}, 
      #{storeIssueResult,jdbcType=INTEGER}, #{storeIssueTime,jdbcType=TIMESTAMP}, #{feedResult,jdbcType=INTEGER}, 
      #{feedTime,jdbcType=TIMESTAMP}, #{changeResult,jdbcType=INTEGER}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{checkResult,jdbcType=INTEGER}, #{checkTime,jdbcType=TIMESTAMP}, #{checkAllResult,jdbcType=INTEGER}, 
      #{checkAllTime,jdbcType=TIMESTAMP}, #{firstCheckAllResult,jdbcType=INTEGER}, #{firstCheckAllTime,jdbcType=TIMESTAMP}, 
      #{lastOperationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisit">
    insert into program_item_visit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lineseat != null">
        lineseat,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="programId != null">
        program_id,
      </if>
      <if test="scanLineseat != null">
        scan_lineseat,
      </if>
      <if test="scanMaterialNo != null">
        scan_material_no,
      </if>
      <if test="lastOperationType != null">
        last_operation_type,
      </if>
      <if test="storeIssueResult != null">
        store_issue_result,
      </if>
      <if test="storeIssueTime != null">
        store_issue_time,
      </if>
      <if test="feedResult != null">
        feed_result,
      </if>
      <if test="feedTime != null">
        feed_time,
      </if>
      <if test="changeResult != null">
        change_result,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkAllResult != null">
        check_all_result,
      </if>
      <if test="checkAllTime != null">
        check_all_time,
      </if>
      <if test="firstCheckAllResult != null">
        first_check_all_result,
      </if>
      <if test="firstCheckAllTime != null">
        first_check_all_time,
      </if>
      <if test="lastOperationTime != null">
        last_operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lineseat != null">
        #{lineseat,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="programId != null">
        #{programId,jdbcType=VARCHAR},
      </if>
      <if test="scanLineseat != null">
        #{scanLineseat,jdbcType=VARCHAR},
      </if>
      <if test="scanMaterialNo != null">
        #{scanMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="lastOperationType != null">
        #{lastOperationType,jdbcType=INTEGER},
      </if>
      <if test="storeIssueResult != null">
        #{storeIssueResult,jdbcType=INTEGER},
      </if>
      <if test="storeIssueTime != null">
        #{storeIssueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedResult != null">
        #{feedResult,jdbcType=INTEGER},
      </if>
      <if test="feedTime != null">
        #{feedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeResult != null">
        #{changeResult,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkAllResult != null">
        #{checkAllResult,jdbcType=INTEGER},
      </if>
      <if test="checkAllTime != null">
        #{checkAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstCheckAllResult != null">
        #{firstCheckAllResult,jdbcType=INTEGER},
      </if>
      <if test="firstCheckAllTime != null">
        #{firstCheckAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperationTime != null">
        #{lastOperationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisitExample" resultType="java.lang.Long">
    select count(*) from program_item_visit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update program_item_visit
    <set>
      <if test="record.lineseat != null">
        lineseat = #{record.lineseat,jdbcType=VARCHAR},
      </if>
      <if test="record.materialNo != null">
        material_no = #{record.materialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.programId != null">
        program_id = #{record.programId,jdbcType=VARCHAR},
      </if>
      <if test="record.scanLineseat != null">
        scan_lineseat = #{record.scanLineseat,jdbcType=VARCHAR},
      </if>
      <if test="record.scanMaterialNo != null">
        scan_material_no = #{record.scanMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.lastOperationType != null">
        last_operation_type = #{record.lastOperationType,jdbcType=INTEGER},
      </if>
      <if test="record.storeIssueResult != null">
        store_issue_result = #{record.storeIssueResult,jdbcType=INTEGER},
      </if>
      <if test="record.storeIssueTime != null">
        store_issue_time = #{record.storeIssueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.feedResult != null">
        feed_result = #{record.feedResult,jdbcType=INTEGER},
      </if>
      <if test="record.feedTime != null">
        feed_time = #{record.feedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeResult != null">
        change_result = #{record.changeResult,jdbcType=INTEGER},
      </if>
      <if test="record.changeTime != null">
        change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkResult != null">
        check_result = #{record.checkResult,jdbcType=INTEGER},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkAllResult != null">
        check_all_result = #{record.checkAllResult,jdbcType=INTEGER},
      </if>
      <if test="record.checkAllTime != null">
        check_all_time = #{record.checkAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.firstCheckAllResult != null">
        first_check_all_result = #{record.firstCheckAllResult,jdbcType=INTEGER},
      </if>
      <if test="record.firstCheckAllTime != null">
        first_check_all_time = #{record.firstCheckAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOperationTime != null">
        last_operation_time = #{record.lastOperationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update program_item_visit
    set lineseat = #{record.lineseat,jdbcType=VARCHAR},
      material_no = #{record.materialNo,jdbcType=VARCHAR},
      program_id = #{record.programId,jdbcType=VARCHAR},
      scan_lineseat = #{record.scanLineseat,jdbcType=VARCHAR},
      scan_material_no = #{record.scanMaterialNo,jdbcType=VARCHAR},
      last_operation_type = #{record.lastOperationType,jdbcType=INTEGER},
      store_issue_result = #{record.storeIssueResult,jdbcType=INTEGER},
      store_issue_time = #{record.storeIssueTime,jdbcType=TIMESTAMP},
      feed_result = #{record.feedResult,jdbcType=INTEGER},
      feed_time = #{record.feedTime,jdbcType=TIMESTAMP},
      change_result = #{record.changeResult,jdbcType=INTEGER},
      change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      check_result = #{record.checkResult,jdbcType=INTEGER},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      check_all_result = #{record.checkAllResult,jdbcType=INTEGER},
      check_all_time = #{record.checkAllTime,jdbcType=TIMESTAMP},
      first_check_all_result = #{record.firstCheckAllResult,jdbcType=INTEGER},
      first_check_all_time = #{record.firstCheckAllTime,jdbcType=TIMESTAMP},
      last_operation_time = #{record.lastOperationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisit">
    update program_item_visit
    <set>
      <if test="scanLineseat != null">
        scan_lineseat = #{scanLineseat,jdbcType=VARCHAR},
      </if>
      <if test="scanMaterialNo != null">
        scan_material_no = #{scanMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="lastOperationType != null">
        last_operation_type = #{lastOperationType,jdbcType=INTEGER},
      </if>
      <if test="storeIssueResult != null">
        store_issue_result = #{storeIssueResult,jdbcType=INTEGER},
      </if>
      <if test="storeIssueTime != null">
        store_issue_time = #{storeIssueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedResult != null">
        feed_result = #{feedResult,jdbcType=INTEGER},
      </if>
      <if test="feedTime != null">
        feed_time = #{feedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeResult != null">
        change_result = #{changeResult,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkAllResult != null">
        check_all_result = #{checkAllResult,jdbcType=INTEGER},
      </if>
      <if test="checkAllTime != null">
        check_all_time = #{checkAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstCheckAllResult != null">
        first_check_all_result = #{firstCheckAllResult,jdbcType=INTEGER},
      </if>
      <if test="firstCheckAllTime != null">
        first_check_all_time = #{firstCheckAllTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperationTime != null">
        last_operation_time = #{lastOperationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lineseat = #{lineseat,jdbcType=VARCHAR}
      and material_no = #{materialNo,jdbcType=VARCHAR}
      and program_id = #{programId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jimi.smt.eps.display.entity.ProgramItemVisit">
    update program_item_visit
    set scan_lineseat = #{scanLineseat,jdbcType=VARCHAR},
      scan_material_no = #{scanMaterialNo,jdbcType=VARCHAR},
      last_operation_type = #{lastOperationType,jdbcType=INTEGER},
      store_issue_result = #{storeIssueResult,jdbcType=INTEGER},
      store_issue_time = #{storeIssueTime,jdbcType=TIMESTAMP},
      feed_result = #{feedResult,jdbcType=INTEGER},
      feed_time = #{feedTime,jdbcType=TIMESTAMP},
      change_result = #{changeResult,jdbcType=INTEGER},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      check_result = #{checkResult,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_all_result = #{checkAllResult,jdbcType=INTEGER},
      check_all_time = #{checkAllTime,jdbcType=TIMESTAMP},
      first_check_all_result = #{firstCheckAllResult,jdbcType=INTEGER},
      first_check_all_time = #{firstCheckAllTime,jdbcType=TIMESTAMP},
      last_operation_time = #{lastOperationTime,jdbcType=TIMESTAMP}
    where lineseat = #{lineseat,jdbcType=VARCHAR}
      and material_no = #{materialNo,jdbcType=VARCHAR}
      and program_id = #{programId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByProgram" parameterType="com.jimi.smt.eps.display.entity.Program" resultMap="BaseResultMap">
  	(select
    <include refid="Base_Column_List" />
    from program_item_visit
    inner join program on program.id = program_item_visit.program_id
  	where line = #{line,jdbcType=VARCHAR}
    and work_order = #{workOrder,jdbcType=VARCHAR}
    and board_type = #{boardType,jdbcType=INTEGER}
    and (store_issue_result = 0 OR feed_result = 0 OR change_result = 0 OR (check_all_result % 3) = 0 OR (check_result % 3) = 0 OR first_check_all_result = 0))
    union
    (select
    <include refid="Base_Column_List" />
    from program_item_visit
    inner join program on program.id = program_item_visit.program_id
    where line = #{line,jdbcType=VARCHAR}
    and work_order = #{workOrder,jdbcType=VARCHAR}
    and board_type = #{boardType,jdbcType=INTEGER}
    and (change_result = 4))
    union
    (select
    <include refid="Base_Column_List" />
    from program_item_visit
    inner join program on program.id = program_item_visit.program_id
    where line = #{line,jdbcType=VARCHAR}
    and work_order = #{workOrder,jdbcType=VARCHAR}
    and board_type = #{boardType,jdbcType=INTEGER}
    and (store_issue_result != 0 OR feed_result != 0 OR (change_result % 4) !=0 OR (check_all_result % 3) != 0 OR (check_result % 3) != 0 OR first_check_all_result != 0))
  </select>
  
</mapper>