<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 引用db.properties配置文件 -->
	<properties resource="mybatis/db.properties"/>
	
	
	<!-- 对事务的管理和连接池的配置 -->  
    <environments default="release">  
    
        <environment id="release">  
            <transactionManager type="JDBC" />  
            <dataSource type="POOLED">  
                <property name="driver" value="${jdbc.driver}" />  
                <property name="url" value="${jdbc.url}" />  
                <property name="username" value="${jdbc.username}" />  
                <property name="password" value="${jdbc.password}" />   
            </dataSource>  
        </environment>  
        
    </environments>
    
    
    <!-- Register all interfaces in a package as mappers -->
	<mappers>
	  <package name="com.jimi.smt.eps.serversocket.mapper"/>
	</mappers>
	
</configuration>